.Read{
    margin-top: 10px;
    margin-left: 150px;
    display: flex;
}
.TO{
    display:flex;
    margin-top: 30px;
}

.TOPR{
    padding-left: 160px;
    color:rgb(50, 63, 89);
    
} 


.TOP{
    color:rgb(50, 63, 89);
    padding-left:430px;
    padding-bottom:50px;
    display: none;
}

.TOPPP{
    color:rgb(50, 63, 89);
    padding-left:430px;
    padding-bottom:50px;
    
}


.TopReads{
    width: 530px;
    height: 467px ;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    border-style:solid;
    border-color:rgb(212, 212, 212);
    border-width:1px
}
.TOPREAD{
    margin-top: 60px;
}

.one{
    display: flex;
    
    
}
.para{
    padding-left: 70px;
    margin-top: 0px;
    color: rgb(175, 168, 168);
}

.N{
    padding-top: 20px;
    padding-left: 25px;
}

.C{
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 40px;
}

.E{
    padding-right: 100px;
}

.watch{
    width: 530px;
    height: 467px ;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    border-style:solid;
    border-color:rgb(212, 212, 212);
    border-width:1px;
    margin-left: 15px;
}
.custom-iframe{
      width:529px;
      height: 300px;
      border-radius: 20px;
      border-style:solid;
      border-color: grey;
      border-width:1px;
}
.strug{
    padding-left: 20px;
}
.min{
    padding-left: 20px;
    color: rgb(140, 140, 140);
}


@media screen and (max-width: 500px){.TOPR{margin-left: 9px; padding-left: 0px;}
 .custom-iframe{height: 300px; width:287px;}
.TopReads{ height: 440px; width:300px;} .Read{margin-left: 20px; display: block; } .TOP{ display:block 0; margin-top: 30px; margin-bottom:10px; padding-top: 10px;}
  .C{font-size: small; font-weight: bold;} .watch{ margin-left:10px; height: 410px; width:290px;} 
   .para{ font-size: smaller; font-weight: bold; color: rgb(75, 74, 74);}  .miii{ font-size: smaller; font-weight: bold; color: rgb(75, 74, 74);} 
   .str{font-size: small; font-weight: bold;} .TOPPP{display: none;} }



@media screen and (max-width: 450px){.TOPR{margin-left: 9px; padding-left: 0px;} .watch{ height: 410px; width:290px;}
.TopReads{ height: 440px; width:300px;} .Read{margin-left: 20px; display: block; } 
.TOP{ padding-left: 0;margin-top: 30px; margin-bottom: 10px; display: block; padding-bottom: 10px;}
    .custom-iframe{height: 300px; width:287px}  .TOPPP{display: none;}
    .miii{ font-size: smaller; font-weight: bold; color: rgb(75, 74, 74);} .str{font-size: small; font-weight: bold;} 
.C{font-size: small; font-weight: bold;} .para{ font-size: smaller; font-weight: bold; color: rgb(75, 74, 74);} }



@media screen and (max-width: 350px){.TOPR{margin-left: 9px; padding-left: 0px;} .watch{ height: 410px; width:290px;}
.TopReads{ height: 440px; width:300px;} .custom-iframe{height: 300px; width:287px}
.Read{margin-left: 20px; display: block; } .TOP{ padding-left: 0; margin-top: 30px; padding-bottom: 10px; display: block;}
.C{font-size: small; font-weight: bold;} .str{font-size: small; font-weight: bold;}  .miii{ font-size: smaller; font-weight: bold; color: rgb(75, 74, 74);} 
.para{ font-size: smaller; font-weight: bold; color: rgb(75, 74, 74);} .TOPPP{display: none;} }
